* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
 overflow-x: hidden;
  height: 100%;
  background-color: rgb(19, 18, 18);
}




h1 {
	font-size: 40px;
  text-align: center;
}

.container1{
	cursor: pointer;
	position: absolute;
	top: 5%;
	right: 5%;
	width: 30px;
	height: 20px;
  z-index: 3;
  transition: transform 0.5s ease;
}

.bars{
	width: 30px;
	height: 4px;
	background: white;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.bars::before,
.bars::after{
	content: '';
	position: absolute;
	width: 30px;
	height: 4px;
	background: white;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.bars::before {
  top: -10px;
}

.bars::after {
  top: 10px;
}
.container1.hide .bars {
  transform: rotate(45deg);
  background: white;
}

.container1.hide .bars::before {
  transform: rotate(90deg);
  top: 0;
}

.container1.hide .bars::after {
  transform: rotate(90deg);
  top: 0;
}
/* .container1.hide .bars,
.container1.hide .bars::before,
.container1.hide .bars::after {
    background: transparent;
} */
/* nav{
	
	width: 100%;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	
  z-index: 2;
  position: absolute;
    top: 0;
    background: #000;
    overflow: hidden;
    transition: right 0.5s ease, height 0.5s ease;
} */

nav {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: fixed; /* Fixed positioning */
  top: 0;
  left: 0;
  background: #000;
  transform: translateX(-100%); /* Initially hidden */
  transition: transform 0.5s ease;
}

nav.show {
  transform: translateX(0); 
  /* height: 100vh; */
}
nav ul {
	list-style: none;
  padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li{
	margin: 50px 0;
}

nav ul li a{
	color: #fafafa;
	font-size: 2em;
	text-decoration: none;
	font-weight: 500;
	position: relative;
	opacity: 0;
	pointer-events: none;
  transition: opacity 0.5s ease, pointer-events 0.5s ease;
}

nav ul li a:after{
	content: '';
	width: 100%;
	position: absolute;
	height: 3px;
	border-radius: 5px;
	background: #fff;
	bottom: -10px;
	left: 0;
	transform-origin: left;
	transition: transform .5s ease;
	transform: scaleX(0);
}


nav ul li a:hover:after{
	transform: scaleX(1);
}
nav.show ul li a {
  opacity: 1;
  pointer-events: all;
}

nav.show {
  right: 0;
  height: 100vh;
}
/* nav .close {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 6%;
	right: 5%;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
} */

nav h2{
	position: absolute;
	top:5%;
	left: 5%;
	opacity: 0;
	pointer-events: none;
	color: #fff;
	font-size: 2em;
}

.page1{
  height: 90vh;
  width: 100%;
  color: aliceblue;
}

.home{
  display: flex;
  justify-content: space-between;
  margin: 3vw 9vw;
  animation: appear1 5s linear;
}

.right-heading{
  line-height: 2vw;
  margin-left: -2vw;
  /* animation: appear1 3s linear; */
}
.right-heading h1{
  font-size: 3vw;
}

.right-heading h3{
  font-size: 3vw;
  color: red;
}

.left-info {
  line-height: 1vw;
}

.left-info h3{
  /* text-decoration: underline; */
}
.info{
  display: flex;
}
.line{
  border: 1px solid red;
  width: 2.5vw;
  margin-top: -1vw;
}


.bottom{
  margin-top: -6vw;
  margin-left: 10vw;
  margin-right: 7vw;
  display: flex;
  justify-content: space-between;
  animation: appear1 3s linear;
  /* animation-timeline: view();
  animation-range: entry 0 cover 60%; */
}

.bottom-right{
  width: 15vw;
}

.bottom-left{
  margin-right: 7vw;
}

.bottom-left ul{
  margin-left: -1vw;
}

.swiper {
  width: 100%;
  height: 50vh;
  margin-top: 10vw;
  animation: appear 5s linear;
  /* margin-left: -20vw; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tag{
  transform: rotate(-90deg) ;
  position: absolute;
  left: -11vw;
  top: 30vw;
  font-size: 3vw;
  /* background: #000; */
}

.tag span{
  color: red;
}

.page3{
  display: flex;
  justify-content: space-evenly;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}
.container {
  width: 20vw;
  height: 50vh;
  perspective: 800px;
}
.container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}
.container:hover > .card2 {
  cursor: pointer;
  transform: rotateY(180deg);
}
.container:hover > .card3 {
  cursor: pointer;
  transform: rotateY(180deg);
}
.container:hover > .card4 {
  cursor: pointer;
  transform: rotateY(180deg);
}
.card {
  height: 70vh;
  width: 20vw;
  border-radius: 2rem;
  background-size: cover;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.card1{
  background-image: url(Images/card-bg-1.jpg);
}
.card2 {
  background-image: url(Images/card-bg-2.jpg);
}
.card3 {
  background-image: url(Images/card-bg-3.jpg);
}
.card4 {
  background-image: url(Images/card-bg-4.jpg);
}

.front {
  overflow: hidden;
}

.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 15px 2px rgba(177, 155, 155, 0.971);
  position: absolute;
  backface-visibility: hidden;
}

.back {
  background-color: #689390;
  transform: rotateY(180deg);
  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.27);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



footer {
  background-color: var(--bg-light);
  line-height: 24px;
  color: var(--text);
  
}

footer .art {
  background-color: var(--bg);
  padding: 16px;
  padding-top: 48px;
  clip-path: polygon(0% 5%, 15% 0%, 100% 10%, 100% 100%, 0% 100%);
}

footer .content {
  max-width: 1080px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

footer header {
  font-size: 21px;
  padding-block: 16px;
}

footer .content a {
  display: block;
  padding-block: 12px;
  color: var(--text);
  opacity: 0.65;
}

footer .content a:hover {
  opacity: 1;
  color: var(--hover);
  font-size: 18px;
}

footer input {
  border-style: solid;
  line-height: 24px;
  padding: 12px 16px;
  font-size: 1rem;
  width: 100%;
  margin-block: 8px;
  border-radius: 8px;
  border-width: 2px;
}

footer input[type='email'] {
  background-color: transparent;
  border-color: var(--text);
  color: var(--text);
}

footer input[type='email']:hover,
footer input[type='email']:focus {
  border-color: var(--hover);
  color: var(--hover);
}

footer input[type='submit'] {
  background-color: var(--text);
  color: var(--bg);
  text-transform: uppercase;
  border: none;
}

footer input[type='submit']:hover {
  background-color: var(--hover)
}

footer .social {
  margin-block: 16px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px;
}


footer .social i:hover {
  color: var(--hover);
  border-color: var(--hover);
  box-shadow: 0px 0px 16px inset var(--light);
}

footer .notice {
  text-align: center;
  padding: 24px;
}

footer .notice strong {
  color: var(--hover);
  text-transform: uppercase;
}

.bimg{
display: flex;
justify-content: space-between;
margin: 20vh 15vh;

}

.right-img{
margin-top: 24vh;
height: 50vh;
width: 30vw;
animation: appear linear;
animation-timeline: view();
animation-range: entry 0 cover 40%;
}

.left-img{
height: 90vh;
width: 40vw;
animation: appear linear;
animation-timeline: view();
animation-range: entry 0 cover 40%;
}

@keyframes appear{
from{
   opacity: 0;
   scale: 0.5;
   clip-path: inset(100% 100% 0 0 );
}
to{
  opacity: 1;
  scale: 1;
  clip-path: inset(0 0 0 0 );
}
}
@keyframes appear1{
from{
   opacity: 0;
   scale: 0.5;
   /* transform: translate(-100px); */
   /* clip-path: inset(100% 100% 0 0 ); */
}
to{
  opacity: 1;
  scale: 1;
  /* transform: translate(0px); */
  /* clip-path: inset(0 0 0 0 ); */
}
}

.page3{
height: 100vh;
}

.page4{
  display: flex;
  justify-content: space-evenly;
}
.page4 h1{
  /* margin-left: 5vw; */
  font-size: 3vw;
  color: #fff;
  text-align: justify;
}
.page4 p{
  margin-top: 10vh;
  max-width: 40ch;
  letter-spacing: 3px;
  /* margin-left: 3vw; */
  color: white;
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  text-align:justify;
  
}
.page4 img{
  width: 37vw;
  height: 85.3vh;
  object-fit: cover;
}

.before-after-slider{
  position: relative;
  width: 37vw;
  height: 85.3vh;
  margin-right: 6vw;
}

.img-before{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
  width: 50%;
}
.img-beforeimg{
  object-fit: cover;
}
.before-line{
  width: 1px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  pointer-events: none;
}

/* page - 6 */
html {
	box-sizing: border-box;
	font-size: 60%;
	scroll-behavior: smooth;

}

/* body {
	background-color: black;
	font-family: Cosi Azure;
} */
.image-nav, a:visited, a:hover {
	text-decoration: none;
}

.image-nav li {
	list-style: none;
}

.image-nav {
	min-height: 100vh;
	overflow: hidden;
	display:grid;
	place-items:center;
}

.image-nav ul {
	width: 80%;
}



.image-nav ul li {
	border-bottom: solid #ffffff .05rem;
	position: relative;
	z-index: 10;
}

.image-nav ul li .link{
	display: flex;
	padding: 4rem 0 2rem 0;
	z-index: 10;
	justify-content:space-between;
}

.image-nav ul li .link span {
	display: block;
	font-weight: 500;
	z-index: 10;
	mix-blend-mode: difference;
	display: inline-block;
	position: relative;
	color: white;
	font-size: 4rem;
	text-transform: uppercase;
}
.image-nav ul li .link > img {
	mix-blend-mode: difference;
	z-index: 10;
}


.image-nav .hover-reveal {
	position: absolute;
	width: 30vw;
	/* height: 400px; */
	top: 50%;
	left: 50%;
	pointer-events: none;
	transform: translate(-50%, -50%);
	overflow: hidden;
	opacity: 0;
	transform: scale(0.8);
	transition: all .5s ease-out;
}

.image-nav .hover-reveal img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
	transition: transform .4s ease-out;
}

@media only screen and (max-width: 1465px){
    
}

@media only screen and (max-width: 991px){
    
  .page3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container {
    width: 45vw;
    height: 30vh;
    margin: 0.5rem; 
  }
.card {
    height: 40vh;
    width: 40vw;
    margin-left: 3vw;
}
}


/* page5 */
:root{
  --index: calc(1vw + 1vh);
  --transition: cubic-bezier(.1, .7, 0, 1);
}

body{
  background-color: #141414;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.items{
  display: flex;
  gap: 0.4rem;
  perspective: calc(var(--index) * 35);
}

.item{
  width: calc(var(--index) * 4);
  height: calc(var(--index) * 20);
  background-color: #222;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  filter: grayscale(1) brightness(.5);
  transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);
  will-change: transform, filter, rotateY, width;
}

.item::before, .item::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 20px;
  right: calc(var(--index) * -1);
}

.item::after{
  left: calc(var(--index) * -1);
}

.items .item:hover{
  filter: inherit;
  transform: translateZ(calc(var(--index) * 10));
}

/*Right*/

.items .item:hover + *{
  filter: inherit;
  transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
  z-index: -1;
}

.items .item:hover + * + *{
  filter: inherit;
  transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
  z-index: -2;
}

.items .item:hover + * + * + *{
  filter: inherit;
  transform: translateZ(calc(var(--index) * 2.5)) rotateY(30deg);
  z-index: -3;
}

.items .item:hover + * + * + * + *{
  filter: inherit;
  transform: translateZ(calc(var(--index) * .6)) rotateY(15deg);
  z-index: -4;
}


/*Left*/

.items .item:has( + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
}

.items .item:has( + * + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
}

.items .item:has( + * + * + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * 2.5)) rotateY(-30deg);
}

.items .item:has( + * + * + * + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * .6)) rotateY(-15deg);
}

.items .item:active, .items .item:focus {
width: 28vw;
filter: inherit;
z-index: 100;
transform: translateZ(calc(var(--index) * 10));
  margin: 0 .45vw;
}

@media only screen and (max-width: 650px){
  
}

@media only screen and (max-width: 480px){

}



