body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: rgb(19, 18, 18);

}
::-webkit-scrollbar {
  display: none;
}


.page1 {
  height: 90vh;
  width: 100%;
  color: aliceblue;
}

.home {
  display: flex;
  justify-content: space-between;
  margin: 3vw 9vw;
  animation: appear1 5s linear;
}

.right-heading {
  line-height: 2vw;
  margin-left: -2vw;
  /* animation: appear1 3s linear; */
}

.right-heading h1 {
  font-size: 3vw;
}

.right-heading h3 {
  font-size: 3vw;
  color: red;
}

.left-info {
  line-height: 1vw;
}

.left-info h3 {
  /* text-decoration: underline; */
}

.info {
  display: flex;
}

.line {
  border: 1px solid red;
  width: 2.5vw;
  margin-top: -1vw;
}


.bottom {
  margin-top: -6vw;
  margin-left: 10vw;
  margin-right: 7vw;
  display: flex;
  justify-content: space-between;
  animation: appear1 3s linear;
  /* animation-timeline: view();
  animation-range: entry 0 cover 60%; */
}

.bottom-right {
  width: 15vw;
}

.bottom-left {
  margin-right: 7vw;
}

.bottom-left ul {
  margin-left: -1vw;
}

.swiper {
  width: 100%;
  height: 50vh;
  margin-top: 10vw;
  animation: appear 5s linear;
  /* margin-left: -20vw; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tag {
  transform: rotate(-90deg);
  position: absolute;
  left: -11vw;
  top: 30vw;
  font-size: 3vw;
  /* background: #000; */
}

.tag span {
  color: red;
}

.page3 {
  display: flex;
  justify-content: space-evenly;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

.container {
  width: 20vw;
  height: 50vh;
  perspective: 800px;
}

.container:hover>.card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.container:hover>.card2 {
  cursor: pointer;
  transform: rotateY(180deg);
}

.container:hover>.card3 {
  cursor: pointer;
  transform: rotateY(180deg);
}

.container:hover>.card4 {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  height: 70vh;
  width: 20vw;
  border-radius: 2rem;
  background-size: cover;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.card1 {
  background-image: url(images/card-bg-1.jpg);
}

.card2 {
  background-image: url(images/card-bg-2.jpg);
}

.card3 {
  background-image: url(images/card-bg-3.jpg);
}

.card4 {
  background-image: url(images/card-bg-4.jpg);
}

.front {
  overflow: hidden;
}

.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 15px 2px rgba(177, 155, 155, 0.971);
  position: absolute;
  backface-visibility: hidden;
}

.back {
  background-color: #689390;
  transform: rotateY(180deg);
  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.27);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





.bimg {
  display: flex;
  justify-content: space-between;
  margin: 20vh 15vh;
  
}

.right-img {
  margin-top: 24vh;
  height: 50vh;
  width: 30vw;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

.left-img {
    height: 90vh;
    width: 40vw;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
  }
  
  
  @keyframes appear {
    from {
      opacity: 0;
      scale: 0.5;
      clip-path: inset(100% 100% 0 0);
    }
    
    to {
      opacity: 1;
    scale: 1;
    clip-path: inset(0 0 0 0);
  }
}

@keyframes appear1 {
  from {
    opacity: 0;
    scale: 0.5;
    /* transform: translate(-100px); */
    /* clip-path: inset(100% 100% 0 0 ); */
  }
  
  to {
    opacity: 1;
    scale: 1;
    /* transform: translate(0px); */
    /* clip-path: inset(0 0 0 0 ); */
  }
}

.page3 {
  height: 100vh;
}

@media only screen and (max-width: 1465px) {}

@media only screen and (max-width: 991px) {
  
  .page3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .container {
    width: 45vw;
    height: 30vh;
    margin: 0.5rem;
  }
  
  .card {
    height: 40vh;
    width: 40vw;
    margin-left: 3vw;
  }
}

@media only screen and (max-width: 650px) {}

@media only screen and (max-width: 480px) {}

.page4 {
  display: flex;
  justify-content: space-between;
}

.page4 h1 {
  margin-left: 5vw;
  font-size: 3vw;
  color: #fff;
}

.page4 img {
  width: 37vw;
  height: 85.3vh;
  object-fit: cover;
}

.before-after-slider {
  position: relative;
  width: 37vw;
  height: 85.3vh;
  margin-right: 15vw;
}

.img-before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
  width: 50%;
}

.img-beforeimg {
  object-fit: cover;
}

.before-line {
  width: 1px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  pointer-events: none;
}


.page5 {
  margin-top: 10vh;
  scroll-behavior: smooth;
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  main {
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    /*  note vh and vw switched  */
    width: 100vh;
    height: 100vw;
    /*    */
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-100vh);
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
  
  article {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    transform-origin: top left;
    transform: rotate(90deg) translateY(-100vh);
  }
  
  section {
    width: 100vw;
    height: 100vh;
    /* scroll-snap-align: start; */
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 3rem;
    /*  backface visibility keeps font from looking weird  */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  section:nth-of-type(1) {
    border: 1px solid red;
    background: rgb(19, 18, 18);
    color: #fff;
  }
  
  section:nth-of-type(2) {
    border: 1px solid red;
    background: rgb(19, 18, 18);
    color: #fff;
  }

  section:nth-of-type(3) {
    border: 1px solid red;
    background: rgb(19, 18, 18);
    color: #fff;
  }
  
  section:nth-of-type(4) {
    border: 1px solid red;
    background: rgb(19, 18, 18);
    color: #fff;
  }

  section:nth-of-type(5) {
    border: 1px solid red;
    background: rgb(19, 18, 18);
    color: #fff;
  }
}
/* 

footer {
  background-color: var(--bg-light);
  line-height: 24px;
  color: var(--text);
}

  footer .art {
    background-color: var(--bg);
    padding: 16px;
    padding-top: 48px;
    clip-path: polygon(0% 5%, 15% 0%, 100% 10%, 100% 100%, 0% 100%);
  }

  footer .content {
    max-width: 1080px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
  }

  footer header {
    font-size: 21px;
    padding-block: 16px;
  }

  footer .content a {
    display: block;
    padding-block: 12px;
    color: var(--text);
    opacity: 0.65;
  }

  footer .content a:hover {
    opacity: 1;
    color: var(--hover);
    font-size: 18px;
  }

  footer input {
    border-style: solid;
    line-height: 24px;
    padding: 12px 16px;
    font-size: 1rem;
    width: 100%;
    margin-block: 8px;
    border-radius: 8px;
    border-width: 2px;
  }
  
  footer input[type='email'] {
    background-color: transparent;
    border-color: var(--text);
    color: var(--text);
  }
  
  footer input[type='email']:hover,
  footer input[type='email']:focus {
    border-color: var(--hover);
    color: var(--hover);
  }
  
  footer input[type='submit'] {
    background-color: var(--text);
    color: var(--bg);
    text-transform: uppercase;
    border: none;
  }
  
  footer input[type='submit']:hover {
    background-color: var(--hover)
  }
  
  footer .social {
    margin-block: 16px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 16px;
  }
  
  
  footer .social i:hover {
    color: var(--hover);
    border-color: var(--hover);
    box-shadow: 0px 0px 16px inset var(--light);
  }
  
  footer .notice {
    text-align: center;
    padding: 24px;
  }
  
  footer .notice strong {
    color: var(--hover);
    text-transform: uppercase;
  }
  
.footer-container{
  height: 100vh;
  width: 100vw;
} */
